<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>
<form action="/account/delete" method="post" id="deleteAcc">
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="account_firstname" required value="<%= locals.account_firstname %>"><br>
  <label for="lname">Last Name:</label><br>
  <input type="text" id="lname" name="account_lastname" required><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="account_email" required><br>
  <label for="password">Change Password:</label><br>
  <input type="password" id="pass" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"required><br>
  <p>Confirm Deletion - The delete is permanent.</p>
  <button type="submit">Delete Account</button>
  <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
</form>