@media (min-width: 750px) {
    #upgrades {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    #reveiws {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    #inv-detail img {
      grid-column: 1/2;
    }
    .namePrice {
      grid-column: 2/3;
    }
    #deets {
      grid-column: 1/2;
    }
    #sideButtons {
      grid-column: 2/3;
    }
  }